<section>
  <div class="container portfolio">
    <h2 class="section-title section-title-portfolio">
      На латинском языке “барба” означает “борода”
    </h2>
    <ul class="list-portfolio">
      <li class="item-portfolio">
        <picture>
          <source
            srcset="
              ./images/portfolio1-desk.webp    1x,
              ./images/portfolio1-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            />
            <source
            srcset="
            ./images/portfolio1-desk.jpg    1x,
            ./images/portfolio1-desk@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
            />

            <source
            srcset="
              ./images/portfolio1-tab.webp     1x,
              ./images/portfolio1-tab@2x.webp  2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
            <source
            srcset="
              ./images/portfolio1-tab.jpg     1x,
              ./images/portfolio1-tab@2x.jpg  2x
            "
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
            srcset="
              ./images/portfolio1-mob.webp    1x,
              ./images/portfolio1-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
            />
            <source
            srcset="
            ./images/portfolio1-mob.jpg    1x,
            ./images/portfolio1-mob@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767px)"
            />

            <img
              src="./images/portfolio1-tab.jpg"
              alt="фото галереи"
            />
          </picture>
      </li>

      <li class="item-portfolio">
        <picture>
          <source
            srcset="
              ./images/portfolio2-desk.webp    1x,
              ./images/portfolio2-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            />
            <source
            srcset="
            ./images/portfolio2-desk.jpg    1x,
            ./images/portfolio2-desk@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
            />

            <source
            srcset="
              ./images/portfolio2-tab.webp     1x,
              ./images/portfolio2-tab@2x.webp  2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
            <source
            srcset="
              ./images/portfolio2-tab.jpg     1x,
              ./images/portfolio2-tab@2x.jpg  2x
            "
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
            srcset="
              ./images/portfolio2-mob.webp    1x,
              ./images/portfolio2-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
            />
            <source
            srcset="
            ./images/portfolio2-mob.jpg    1x,
            ./images/portfolio2-mob@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767px)"
            />

            <img
              src="./images/portfolio2-tab.jpg"
              alt="фото галереи"
            />
          </picture>
      </li>

      <li class="item-portfolio">
        <picture>
          <source
            srcset="
              ./images/portfolio3-desk.webp    1x,
              ./images/portfolio3-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            />
            <source
            srcset="
            ./images/portfolio3-desk.jpg    1x,
            ./images/portfolio3-desk@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
            />

            <source
            srcset="
              ./images/portfolio3-tab.webp     1x,
              ./images/portfolio3-tab@2x.webp  2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
            <source
            srcset="
              ./images/portfolio3-tab.jpg     1x,
              ./images/portfolio3-tab@2x.jpg  2x
            "
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
            srcset="
              ./images/portfolio3-mob.webp    1x,
              ./images/portfolio3-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
            />
            <source
            srcset="
            ./images/portfolio3-mob.jpg    1x,
            ./images/portfolio3-mob@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767px)"
            />

            <img
              src="./images/portfolio3-tab.jpg"
              alt="фото галереи"
            />
          </picture>
      </li>

      <li class="item-portfolio">
        <picture>
          <source
            srcset="
              ./images/portfolio4-desk.webp    1x,
              ./images/portfolio4-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            />
            <source
            srcset="
            ./images/portfolio4-desk.jpg    1x,
            ./images/portfolio4-desk@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
            />

            <source
            srcset="
              ./images/portfolio4-tab.webp     1x,
              ./images/portfolio4-tab@2x.webp  2x
            "
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1279px)"
          />
            <source
            srcset="
              ./images/portfolio4-tab.jpg     1x,
              ./images/portfolio4-tab@2x.jpg  2x
            "
            type="image/jpg"
            media="(min-width: 768px) and (max-width: 1279px)"
            />

            <source
            srcset="
              ./images/portfolio4-mob.webp    1x,
              ./images/portfolio4-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
            />
            <source
            srcset="
            ./images/portfolio4-mob.jpg    1x,
            ./images/portfolio4-mob@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767px)"
            />

            <img
              src="./images/portfolio4-tab.jpg"
              alt="фото галереи"
            />
          </picture>
      </li>

    </ul>
  </div>
</section>
